* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    height: 100vh;

    height: 100vh;
    display: grid;

    grid-template-areas:
    'header header header'
    'nav main aside'
    'nav footer footer'
 ;

 grid-template-columns: 1fr 4fr 1fr;
 grid-template-rows: 80px 1fr;
} 


header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer {
    grid-area: footer
}


header,
nav,
main,
aside,
footer {

    background-color: steelblue;
    border: 1px solid skyblue;
    padding: 20px;
    color: #fff;

}

