*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: 
    linear-gradient(to bottom, #000 1px, transparent 1px),
    linear-gradient(to right, #000 1px, transparent 1px);
    
    background-size: 50px;
    width: 100vh;
    height: 100vh;
    
}

.form-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;


}

.form-container-label{
    cursor: pointer;
}

.box-container{
    border:  1px slid black;
}

.exit-box{
    display: flex;
    align-items: end;
    justify-content: end;

}

.form-box-container{
    display: grid;
    position: fixed;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    background: white;
}

.form-box-container textarea {
    padding: 10;
    color: wheat;
    background-color: #000;
}

.exit-box span {
    cursor: pointer;
}