/* .title{
    font-family: monospace;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 40px;
    margin-left: 490px;
    margin-top: 250px;
}

#datetime{
    margin-left: 520px;
    font-family: monospace;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 20px;
} */


