body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}



.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;

}



#chk{
	display: none;

}


.signup{
	position: relative;
	width:100%;
	height: 100%;

}


label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;

}


input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;

}


button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;

}


button:hover{
	background: #6d44b8;

}


.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;

}


.login label{
	color: #573b8a;
	transform: scale(.6);

}


#chk:checked ~ .login{
	transform: translateY(-500px);

}


#chk:checked ~ .login label{
	transform: scale(1);	

}


#chk:checked ~ .signup label{
	transform: scale(.6);

}


.submit {
	width: 300px;
	height: 50px;
	margin-left: -323px;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-top: 650px;

}



/* ################################################################# */



.groups{
	color: white;
	border: solid #FFFFFF;
	border-radius: 10px;
	width: 400px;
	margin-left: 170px;
	margin-top: 20px;
	background-color: #241e56;
	padding-left: 50px;

}


.search{
	width: 230px;
	height: 30px;
	font-size: 20px;
	border: solid white;
	margin-left: -30px;

}


.groups:hover{
	transform: scale(1.1);
	transition: 5s;
	box-shadow: 5px 10px 195px white;

}


.search:hover{
	transform: scale(1.1);
	transition: 5s;

}


.main-div{
	margin-left: -500px;

}


.word1{
	color: white;
	margin-left: 120px;
	margin-top: -500px;

}


.progress{
	width: 400px;
	border: solid white;
	margin-left: 170px;
	margin-top: 100px;
	border-radius: 10px 25px 10px 25px;

}


.progress:hover{
	transform: scale(1.1);
	transition: 5s;
	box-shadow: 5px 10px 195px white;

}


.Goa{
	margin-left: -5px;

}


.Goa:hover{
	transform: scale(1.1);
	transition: 5s;
	box-shadow: 5px 10px 195px white;

}


.video{
	margin-left: -350px;
	margin-top: 200px;
	height: 200px;
	width: 350px;
	border-radius: 10px;
	box-shadow: 5px 10px 195px white;

}


.video:hover{
	transform: scale(1.1);
	transition: 5s;
	border-radius: 45px 45px 45px 45px;

}


.btns{
	margin-left: -20px;
	margin-top: -200px;

}


.courses{
	margin-left: -482px;
	width: 100px;

}


.courses:hover{
	transform: scale(1.1);
	transition: 5s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;

}


.offline{
	margin-top: -50px;
	margin-left: -280px;
	width: 100px;

}


.offline:hover{
	transform: scale(1.1);
	transition: 5s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;

}


.gallery{
	width: 100px;
	margin-top: -50px;
	margin-left: -381px;

}


.gallery:hover{
	transform: scale(1.1);
	transition: 5s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;

}


.select{
	border: solid white;
	height: 100px;
	width: 165px;
	margin-left: 100px;
	margin-top: -260px;
	border-radius: 10px;
	color: white;
	display: grid;
	margin-left: -150px;

}


.group-select{
	display: flex;
	justify-content: center;

}


.option-scl{
	border-radius: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	padding-left: 50px;
	letter-spacing: 2px;

}


.option-scl:hover{
	transform: scale(0.9);
	transition: 5s;
	box-shadow: 5px 10px 195px white;

}


.sign-up-btn{
	width: 90px;
	margin-left: -770px;
	margin-top: -477px;
	position: absolute;

}


.sign-up-btn:hover{
	transform: scale(1.1);
	transition: 5s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;
	
}


.payments{
	color: white;
	margin-left: 175px;
	border: solid white;
	margin-top: 50px;
	border-radius: 10px;
	padding-left: 20px;

}


.payments:hover{
	transform: scale(1.1);
	transition: 5s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;
	
}


.pay-btn{
	width: 100px;
	font-size: 20px;
	margin-left: -780px;
	margin-top: -30px;
	position: absolute;

}


.pay-btn:hover{
	transform: scale(1.1);
	transition: 4s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;

}


.contact{
	margin-left: -350px;
	margin-top: 700px;
	color: white;
	border: solid white;
	border-radius: 10px;
	padding-left: 30px;
	width: 235px;

}


.contact-btn{
	width: 170px;
	margin-left: -1px;

}


.contact-btn:hover{
	transform: scale(1.1);
	transition: 4s;
	border-radius:  10px;
	box-shadow: 5px 10px 195px white;

}


/* ################################################# */

