body {
    background-color: black;
}

.div {
    width: 560px;
    height: 798px;
    background-color: gray;
    margin-left: 700px;
    margin-top: 120px;
}

.img{
    height: 120px;
    margin-left: 220px;
    margin-top: 21px;
}

.name {
    color: white;
    margin-left: 175px;
}
.location {
    color: lime;
    margin-left: 140px;
}
.about {
    margin-left: 70px;
}
.buttons {
    margin-left: 140px;
    width: 280px;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
}
.buttons:hover {
    background-color: greenyellow;
}