.div {
    background-color: white;
    width: 870px;
    height: 500px;
    

}

.title {
    color: purple;
    margin-left: 34px;
}


.div1 {
    width: 250px ;
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
}
.div2 {
    width: 250px ;
    background-color: blueviolet;
    border-radius: 20px;
    margin-left:300px ;
    margin-top: -290px;
    color: white;
}
.div3 {
    width: 250px ;
    background-color: blueviolet;
    border-radius: 20px;
    margin-left:600px ;
    margin-top: -290px;
    color: white;
}

body {
    background-color: black;
}