.img {
    width: 400px;
}
.div {
    margin-left: 300px;
    margin-top: 300px ;
}
.text {
    margin-left: 45px;
}
.pay {
    margin-left: 45px;
}
.buttons {
    background-color: blue;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    margin-left: 76px;
}